<div class="well">
    <form class="form-horizontal" name="playlistForm" ng-submit="create()">
        <fieldset>
            <legend>New Playlist</legend>
            <div class="form-group">
                <label class="col-xs-2 control-label">Title</label>
                <div class="col-xs-10">
                  <div class="alert alert-warning" ng-show="playlistForm.playlistName.$error.required">Please enter a title</div>
                  <div class="alert alert-warning" ng-show="playlistForm.playlistName.$error.maxlength">Title is too long</div>
                  <input class="form-control" type="text" name="playlistName" ng-model="playlist.name" required ng-maxlength="16" />
                </div>
            </div>
            <pre>{{ playlist | json }}</pre>
            <div class="form-group">
                <div class="col-xs-10 col-xs-offset-2">
                    <button type="submit" class="btn btn-success" ng-disabled="!playlist.name">Create Playlist</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
